GF_SECURITY_ADMIN_USER="{{ grafana_admin }}"
GF_SECURITY_ADMIN_PASSWORD="{{ grafana_password }}"
GF_INSTALL_PLUGINS=grafana-clock-panel,grafana-worldmap-panel,grafana-piechart-panel

INFLUX_USER="{{ influx_admin }}"
INFLUX_PASSWORD="{{ influx_password }}"
INFLUX_DB=graphite

